* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9FA;
}

.navbar-nav .nav-item .nav-link.active {
    color: #4F939A !important;
}


nav {
    border-bottom: #EBEBEB 1px solid;
}

.navbar-nav {
    margin-left: 40px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.search-input {
    position: relative;
    margin-right: 170px;
}

.search-input input {
    padding-left: 30px;
    border-radius: 32px;
}

.search-input input::placeholder {
    color: #4F939A;
}

.search-input .fa-search {
    position: relative;
    left: 30px;
    color: #FFC107;
    top: 2px;
}

.nav-item {
    font-size: x-large;
    margin-left: 30px;
}

nav .btn {
    color: #4F939A;
    border-color: #4F939A;
}

nav .btn:hover {
    background-color: #6EAAB2;
    color: white;
    border-color: #6EAAB2;
}

nav .btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #6EAAB2;
}

nav .btn:active {
    background-color: #4F939A !important;
    color: white !important;
    border-color: #4F939A !important;
    outline: none !important;
    box-shadow: 0 0 0 2px #6EAAB2 !important;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
}

.card .btn {
    color: white;
}

.Addkid {
    background-color: #3FDBC8;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
}

#confirmDelete {
    background-color: #3FDBC8;
    margin-left: 20px;
    border-color: black;
}

.btn-secondary {
    background-color: #db3f4c;
    margin-left: 20px;
    border-color: black;
}